/* Global & General */

html {
    width: 100%;
    height: 100%;
    font-size: 16px;

    --clr-background: #bfb091;
    --clr-font: #272524;
    --clr-font-2: #e7e2d9;
    --clr-primary: #bda683;
    --clr-secondary: #c0b394;
    --clr-surface: #413f3c;
    --clr-surface-2: #282826;
    --clr-accents: #2d2c29;

}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-background);
    color: var(--clr-font);
}

* {
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

/* Calculator */

#calculator {
    width: 400px;
    height: 450px;
    display: block;
    position: relative;
    background-color: var(--clr-surface);
    border: 4px solid var(--clr-surface-2);
    box-shadow: .5px .5px 2px var(--clr-accents);
    border-radius: 15px;
}

.display {
    width: 87.5%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: var(--clr-secondary);
    border: 7.5px solid var(--clr-surface-2);
    border-radius: 7.5px;
    box-shadow: 0 0 7.5px var(--clr-surface) inset, 0 0 2px var(--clr-accents);
    font-family: "Seven Segment";
    font-weight: 700;
    font-size: 3rem;
    overflow: scroll;
}

.actions {
    width: 87.5%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.axisY {
    width: 23%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.axisY>button {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-surface);
    border: 2px solid var(--clr-surface-2);
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--clr-accents);
    font-size: 1.5rem;
    color: var(--clr-font-2);
    margin-top: .25rem;
    margin-bottom: .25rem;
}

button.equal {
    background-color: var(--clr-primary);
    color: var(--clr-font);
}

button.add {
    height: 90px;
}